
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Areas/Client/Views/Shared/_ClientLayout.cshtml";
}

<section class="content">


    <div class="content" style="text-align: -webkit-center;">
        <div class="login-box">
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a href="#" class="h1"><b>Biotec</b></a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">
                        Yeni şifrenize sadece bir adım uzaktasınız,şifrenizi şimdi değiştirin..
                    </p>
                    <form id="changePasswordForm" enctype="multipart/form-data" method="post">
                        <div class="input-group mb-3">
                            <input type="password" id="txtOldPassword" class="form-control" placeholder="Eski Şifre" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" id="txtNewPassword" class="form-control" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam,bir büyük ve küçük harf ve en az 8 veya daha fazla karakter içermelidir" placeholder="Yeni Şifre" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" id="btnUpdate" class="btn btn-primary btn-block">Şifreyi Değiştir</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>


                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    </div>




</section>
@section JS{

    <script src="/js/CustomScriptsClient/Dealer/updateDealerPassword.js"></script>
    <script>
        var updatePasswordUrl ='/Client/Settings/UpdatePassword';

    </script>
}

