
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->

    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
</head>


<body class="login-page" style="min-height: 386.391px;">

    <div class="login-box">
        <div class="login-logo">
       
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Yeni Şifrenizi Giriniz.</p>

                <form id="changePasswordForm" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="All" class="text-danger">
                        <input value="@TempData["Email"]"  id="txtEmail" type="hidden" />
                        <input value="@TempData["Token"]"  id="txtToken" type="hidden" />
                        <div class="input-group mb-3">
                            <input asp-for="Password" type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam,bir büyük ve küçük harf ve en az 8 veya daha fazla karakter içermelidir" placeholder="Şifre" id="txtPassword" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>

                        </div>


                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Onaylanan Şifre" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="En az bir rakam,bir büyük ve küçük harf ve en az 8 veya daha fazla karakter içermelidir" id="txtConfirmPassword" required>
                            <div class="input-group-append" id="insertAfter">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button id="btnSubmit" type="submit" class="btn btn-primary btn-block">Şifreyi Değiştirin</button>
                        </div>
                        <!-- /.col -->
                    </div>

                </form>
            </div>
            <!-- /.login-card-body -->
        </div>

    </div>
    <div class="modal fade" id="contactModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" id="modalContent">
                <div class="modal-header">
                    <h4 id="modalTitle" class="modal-title"></h4>
                    <button type="button" class="close" style="color:antiquewhite;" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="modalMessage"></p>
                </div>

            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/js/CustomScripts/utilities.js"></script>

    <script>var updatePasswordByEmail = '/Account/ResetPassword';</script>
    <script src="~/js/CustomScripts/UserLogin/ResetPasswordByEmailToken.js"></script>

</body>
</html>


